@page "/demos"
<h3>Demos</h3>

<a href="/indexdevexpress" class="btn btn-success">Dev Express</a>

<a href="/indexsyncfusion" class="btn btn-success">SyncFusion</a>
<a href="/SyncFusionABM" class="btn btn-success">SyncFusion ABM</a>


<a href="/IndexBlazorise" class="btn btn-success">Blazorise</a>

<a href="/IndexMudBlazor" class="btn btn-success">MudBlazor</a>

@code {

}
